# Ignore node_modules directories
frontend/todo/node_modules/
backend/restful-web-services/node_modules/

# Ignore log files
*.log

# Ignore environment variable files
.env

# Ignore other build artifacts
dist/
build/

# Ignore macOS system files
.DS_Store


